/* main RWDF styles -> layout, design, etc. */

/** Base RWDF Color Palette **/
/**

Green:        rgba(189,213,0,1)
Blue:         rgba(0,160,208,1)
Gray:         rgba(135,136,134,1)
light gray:   rgba(248,247,247,1)

**/

/** Secondary Color Palette **/
/**
**/

/* Navigation */
ul.nav li, ul.nav li a { color:rgba(189,213,0,1); }

